.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #50a6ed;
    height: 11vh;
}

.footerDiv {
    height: 100%;
    padding: 11vh;
}

.footerComponent {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.footerComponent a {
    margin-top: 3px;
    color: rgb(188, 210, 229);
}

.footerComponent a:hover {
    color: rgb(255, 255, 255);
}

.footerComponent span {
    margin-top: 20px;
}

.hrLine {
    width: 400px;
}

.lower {
    display: flex;
    align-items: center;
    justify-content: center;
}